# Python bytecode/cache
__pycache__/
*.py[cod]

# Jupyter notebooks cache
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
.env

# Data files
data/raw/
*.ndjson
*.gz

# System files
.DS_Store
